.contactPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';

    * {
        font-family: 'Inter';
    }

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #000000;
    }

    &__description {
        margin-top: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #000000;
        max-width: 440px;
        width: 85%;
    }
}