@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
        url('../../media/fonts/Lato-Light.woff2') format('woff2'),
        url('../../media/fonts/Lato-Light.woff') format('woff'),
        url('../../media/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),
        url('../../media/fonts/Lato-Regular.woff2') format('woff2'),
        url('../../media/fonts/Lato-Regular.woff') format('woff'),
        url('../../media/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'),
        url('../../media/fonts/Lato-Medium.woff2') format('woff2'),
        url('../../media/fonts/Lato-Medium.woff') format('woff'),
        url('../../media/fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}



@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../../media/fonts/Montserrat-Light.woff2') format('woff2'),
        url('../../media/fonts/Montserrat-Light.woff') format('woff'),
        url('../../media/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../../media/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../media/fonts/Montserrat-Regular.woff') format('woff'),
        url('../../media/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../../media/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../../media/fonts/Montserrat-Medium.woff') format('woff'),
        url('../../media/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Semi Bold'), local('Montserrat-Semi-Bold'),
        url('../../media/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../../media/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../../media/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../../media/fonts/Inter-Regular.woff2') format('woff2'),
        url('../../media/fonts/Inter-Regular.woff') format('woff'),
        url('../../media/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../../media/fonts/Inter-Medium.woff2') format('woff2'),
        url('../../media/fonts/Inter-Medium.woff') format('woff'),
        url('../../media/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter Semi Bold'), local('Inter-Semi-Bold'),
        url('../../media/fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../../media/fonts/Inter-SemiBold.woff') format('woff'),
        url('../../media/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}