.header {
    padding: 13px 96px 13px 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Inter';

    &__logo {
        width: 232px;
        height: 95px;
    }

    &__menu {
        display: flex;
        align-items: center;
        column-gap: 30px;

        &Toggler {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 5px;
        }

        &Pages {
            width: 172px;
            position: absolute;
            top: 45px;
            left: 30px;

            background: #FFFFFF;
            box-shadow: 4px 4px 15px rgba(119, 180, 42, 0.15);
            border-radius: 15px;

            li {
                padding: 10px 18px;
                border-bottom: 1px solid rgba(119, 180, 42, 0.15);
                font-size: 16px;
                line-height: 19px;

                a {
                    color: #000000;
                }

                &:last-child {
                    border: none;
                }
            }
        }
    }

    &__signIn, &__signUp {
        width: 93px;
        height: 36px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &__signIn {
        background: #77B42A;
        border-radius: 25px;

        a {
            color: #FFFFFF;
        }
    }

    &__signUp a {
        color: #77B42A;
    }
}